.product-img{
   max-width: 300px;
   max-height : 300px;
   float: right;
   
  }
.product-data-con{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 35px;
   }  
   .productdata-buttons-con{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
   .productdata-buttons-con>button{
    width: 186px;
  height: 40px;
  font-size:16px; 
}
@media(max-width: 914px) {
  .productdata-buttons-con > button {
    width: 186px;
    height: 40px;
    font-size: 16px;
  }
  }
  @media (max-width: 852px) {
    .productdata-buttons-con > button {
      width: 170px;
      height: 42px;
      font-size: 14px;
      margin: 3px;
      flex-grow: 1;
    }
    .productdata-buttons-con {
      margin-left: 0;
      margin-right: 0;
      
    }
  }
@media(max-width: 600px) {
  .product-data-con {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 35px;
  }
  .add-image-con {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  }
  .image-select {
    width: 211px;
    cursor: pointer;
    max-height: 370px;
  }
  .img-select {
    margin-top: 30px;
    font-size: 13px;
    cursor: pointer;
    margin-left: 24px;
  }
  .product-img {
    max-width: 300px;
    max-height: 300px;
    display: block;
    float: none;
    margin: 0 auto;
  }
  .product-data {
    width: 327px;
    margin: 0;
    font-size: 20px;
    margin-left: 56px;
    margin: 0 auto;
  }
  .add-ti {
    flex-direction: column ;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px;
  }
}
@media (max-width: 852px) {
  .productdata-buttons-con {
    flex-wrap: wrap;
    cursor: pointer;
    
  } }
 